
/* setup */

html {
	font-size: 62.5%;
	--white: #fff;
	--black: #1b1b1b;
	--ink: #0135e9;
	--dark-ink: #508fc0;
	--ground-light: #fbfbfb;
	--ground-dark: #191e25;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

/* structure */

body {
	padding: 6rem 2rem 6rem 4rem;
	font-family: 'Inter', sans-serif;
}

.home {
	background-color: var(--ground-light);
	color: var(--ink);
}

.code {
	background-color: var(--ground-light);
	color: var(--ink);
}

.resume {
	background-color: var(--ground-light);
	color: var(--ink);
}

.structure {
	font-size: 1.8rem;
	line-height: 1.5;
	padding: 0 5%;
	max-width: 1440px;
	margin: auto;
}

/* site-nav */

.home .nav {
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--ground-light);
	padding: 1.4rem 0;
}

.home .nav > .structure {
	font-weight: 700;
	font-size: 2.4rem;
}

.nav {
	font-weight: 700;
	font-size: 2.4rem;
	margin: 2.2rem 0;
}

.nav a {
	text-decoration: none;
}

/* flex */

.toggle-flex {
	display: flex;
	align-items: center;
}

.nav ul {
	display: flex;
}

.nav ul li:not(:nth-child(1)) {
	margin-left: 2rem;
}

.work .project {
	display: flex;
}

.work ul li:not(:nth-child(1)) {
	margin-left: 1rem;
}

.vitae .flex {
	display: flex;
	align-items: center;
}

/* typography */

/* common */

h1 {
	font-weight: 700;
	font-size: 7rem;
	line-height: 1;
}

h2 {
	font-weight: 700;
	font-size: 2.4rem;
}

h3 {
	font-weight: 600;
}

p {
	max-width: 40em;
}

/* about */

.about h2 {
	font-size: 2.4rem;
	font-weight: 600;
}

.about p + p {
	margin-top: 2rem;
}

/* work */

.work .card {
	border: 1px solid var(--ink);
	background-color: var(--white);
	color: var(--ink);
	padding: 16px;
	border-radius: 10px;
	height: 100%;
}

/* grid */

.card-grid {
	max-width: 40em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3.2rem;
}

.vitae .card-grid {
	gap: 0;
}

/* align-self: end */

.card {
	display: flex;
	flex-direction: column;
}

.vitae .card {
	display: block;
}

.card ul {
	margin-top: auto;
}

.work p.lang {
	font-size: 1.6rem;
}

.project a {
	text-decoration: none;
}

.name {
	margin-bottom: .5rem;
}

.lang {
	margin-bottom: .5rem;
}

.descr {
	margin-bottom: 1rem;
}

/* resume */

.vitae ul {
	list-style-type: disc;
	margin-left: 1.6rem;
}

.vitae h2 {
	font-size: 3.2rem;
	padding-bottom: 1rem;
}

.vitae h3 {
	font-weight: 700;
	font-size: 2.4rem;
	margin: 2rem 0 2rem 0;
}

.vitae div {
	max-width: 40em;
}

.vitae .border {
	border-top: 1px solid var(--ink);
	margin-top: 2rem;
}

.vitae .stmt {
	font-weight: 600;
	margin-bottom: 1rem;
}

.vitae .date {
	margin-left: auto;
	margin-bottom: 1rem;
}

/* nav select */

.off {
	opacity: 0.6;
}

.off:hover {
	opacity: 1;
}

.on {
	opacity: 1;
}

/* buttons */

.button {
	display: block;
	font-weight: 600;
}

.vitae .button {
	display: inline-block;
	margin-left: auto;
}

.button {
	border: 1px solid var(--ink);
	background-color: var(--ink);
	color: var(--white);
	padding: 4px 16px;
	border-radius: 16px;
}

.button:hover {
	background-color: var(--white);
	color: var(--ink);
	transition: all .2s ease-in-out;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
}

/* dark-theme */

html.dark-theme {
	--white: var(--black);
	--ink: var(--dark-ink);
	--ground-light: var(--ground-dark);
}

/* dark mode toggle */

label {
	transform: rotate(90deg);
	min-width: 62.5px;
	min-height: 25px;
	position: relative; 
	display: block;
	background: var(--ink);
	border-radius: 25px;
	box-shadow: inset 0px 5px 15px rgba(0, 0, 0, .5), inset 0px -5px 15px rgba(255, 255, 255, .5);
	cursor: pointer;
	transition: 0.3s;
}
label:after {
	content: "";
	min-width: 20px;
	min-height: 20px;
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	background: linear-gradient(190deg, var(--ground-light), var(--ink));
	border-radius: 20px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
	transition: 0.3s;
}

input {
	width: 0;
	height: 0;
	visibility: hidden;
}
input:checked + label {
	background: var(--dark-ink);
}
input:checked + label:after {
	left: 60px;
	transform: translateX(-100%);
	background: linear-gradient(-180deg, var(--ground-light), var(--dark-ink));
}

label:active:after {
	width: 25px;
}

/* underline animation */

.about a {
	display: inline-block;
	position: relative;
}

.about a:after {
	content: "";
	background-color: var(--ink);
	display: block;
	position: relative;
	bottom: 6px;
	left: 0;
	width: 100%;
	height: 1.4px;
	transform-origin: bottom left;
	will-change: transform;
	transition: transform 0.2s ease-out;
}

.about a:hover:after {
	transform: scaleX(0);
	transform-origin: bottom right;
}

/* media control */

@media (max-width: 641px) {
	.card-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.vitae .card-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	body {
		padding: 6rem 0 6rem 0;
	}
}


