
/* setup */

html {
	font-size: 62.5%;
	--white: #fff;
	--off-white: #fbfbfb;
	--blue: #0135e9;
	--black: #011627;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

/* structure */

body {
	padding: 6rem 2rem 6rem 4rem;
	font-family: 'Inter', sans-serif;
}

.home {
	background-color: var(--blue);
	color: var(--white);
}

.code {
	background-color: var(--off-white);
	color: var(--blue);
}

.resume {
	background-color: var(--off-white);
	color: var(--blue);
}

.structure {
	font-size: 1.8rem;
	line-height: 1.5;
	padding: 0 5%;
	overflow: hidden;
	max-width: 1440px;
	margin: auto;
}

/* site-nav */

.nav {
	font-weight: 700;
	font-size: 2.4rem;
	margin: 3.6rem 0;
}

.nav a {
	text-decoration: none;
}

/* flex */

.nav ul {
	display: flex;
}

.nav ul li:not(:nth-child(1)) {
	margin-left: 2rem;
}

.work .project {
	display: flex;
}

.work ul li:not(:nth-child(1)) {
	margin-left: 1rem;
}

.vitae .flex {
	display: flex;
	align-items: center;
}

/* typography */

/* common */

h1 {
	font-weight: 700;
	font-size: 7rem;
	line-height: 1;
}

h2 {
	font-weight: 700;
	font-size: 2.4rem;
}

h3 {
	font-weight: 600;
}

p {
	max-width: 40em;
}

/* about */

.about h2 {
	font-size: 2.4rem;
	font-weight: 600;
}

.about p + p {
	margin-top: 2rem;
}

/* work */

.work .card {
	border: 1px solid var(--blue);
	background-color: var(--white);
	color: var(--blue);
	padding: 16px;
	border-radius: 10px;
	height: 100%;
}

/* grid */

.card-grid {
	max-width: 40em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3.2rem;
}

.vitae .card-grid {
	gap: 0;
}

/* align-self: end */

.card {
	display: flex;
	flex-direction: column;
}

.vitae .card {
	display: block;
}

.card ul {
	margin-top: auto;
}

.work p.lang {
	font-size: 1.6rem;
}

.project a {
	text-decoration: none;
}

.name {
	margin-bottom: .5rem;
}

.lang {
	margin-bottom: .5rem;
}

.descr {
	margin-bottom: 1rem;
}

/* resume */

.vitae ul {
	list-style-type: disc;
	margin-left: 1.6rem;
}

.vitae h2 {
	font-size: 3.2rem;
	padding-bottom: 1rem;
}

.vitae h3 {
	font-weight: 700;
	font-size: 2.4rem;
	margin: 2rem 0 2rem 0;
}

.vitae div {
	max-width: 40em;
}

.vitae .border {
	border-top: 1px solid var(--blue);
	margin-top: 2rem;
}

.vitae .stmt {
	font-weight: 600;
	margin-bottom: 1rem;
}

.vitae .date {
	margin-left: auto;
	margin-bottom: 1rem;
}

/* nav select */

.off {
	opacity: 0.6;
}

.off:hover {
	opacity: 1;
}

.on {
	opacity: 1;
}

/* buttons */

.button {
	display: block;
	font-weight: 600;
}

.vitae .button {
	display: inline-block;
	margin-left: auto;
}

.button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	padding: 4px 16px;
	border-radius: 16px;
}

.button:hover {
	background-color: var(--white);
	color: var(--blue);
	transition: all .2s ease-in-out;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
}

/* underline animation */

.about a {
	display: inline-block;
	position: relative;
}

.about a:after {
	content: "";
	background-color: var(--white);
	display: block;
	position: relative;
	bottom: 6px;
	left: 0;
	width: 100%;
	height: 1.4px;
	transform-origin: bottom left;
	will-change: transform;
	transition: transform 0.2s ease-out;
}

.about a:hover:after {
	transform: scaleX(0);
	transform-origin: bottom right;
}

/* media control */

@media (max-width: 641px) {
	.card-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.vitae .card-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	body {
		padding: 6rem 0 6rem 0;
	}
	h1 {
		font-size: 6rem;
	}
}
