body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 2rem;
	line-height: 1.5;
}

h1 {
	font-weight: 700;
	font-size: 3.6rem;
}

h2 {
	font-weight: 700;
	font-size: 2.4rem;
}

p {
	max-width: 600px;
}

.title {
	font-size: 7rem;
	position: relative;
	right: 3px;
	font-weight: 900;
	line-height: 1.2;
}
@media (max-width: 768px) {
	.title {
		font-size: 5rem;
	}
}
.title {
	display: flex;
}
.jamin {
	animation: 15s ease 0s normal forwards 1 fadeout;
}
@keyframes fadeout{
    0% { opacity:1; }
    100% { opacity:.1; }
}

.platform {
	font-size: 1.6rem;
	opacity: .5;
}

.case-study {
	display: flex;
	font-weight: 700;
	line-height: 1.2;
}
.case-study:hover {
	border-bottom: 2px solid #000;
}