* {
	box-sizing: border-box;
}

html {
	background-image: linear-gradient(azure, aliceblue);
}

body {
	font-family: sans-serif;
	line-height: 1.3em;
}

p {
	font-size: 24px;
	line-height: 1.3em;
	color: slategray;
	max-width: 700px;
}

img {
	float: right;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section img {
	padding: 33px;
	margin: 33px;
}

.logo {
	margin-left: 10px;
	max-height: 200px;
	max-width: 200px;
	float: left;
}

header {
	padding-bottom: 50px;
}

.header-nav {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

nav ul a {
	padding-right: 14px;
}

nav a {
	text-decoration: none;
	color: cadetblue;
	font-size: 30px;
}

nav a:hover {
	text-decoration: none;
	color: royalblue;
	font-size: 30.5px;

}

main {
	padding-top: 75px;
	padding-bottom: 75px;
}

.main-section {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

main h1 {
	font-size: 48px;
	color: royalblue;
}

.main-images {
	display: flex; justify-content: space-between;
	background-color: #1d2336;
}

footer {
	margin-bottom: 50px;
}

footer ul {
	line-height: 2em;
	list-style-type: none;
	text-align: left;
}

footer h3 {
	padding-top: 60px;
	color: royalblue;
}

footer h1 {
	font-size: 60px;
	padding-bottom: 60px;
	color: royalblue;
}

footer h1:hover {
	font-size: 72px;
	color: blue;
}

footer h2 {
	font-size: 30px;
}

.footer-section {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.time-table {
	margin-top: 100px;
	border: solid cadetblue 20px;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}



