@font-face {
	font-family: "manrope";
	src: url("fonts/Manrope/Manrope-Regular.ttf") format("ttf");
}

html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "manrope", sans-serif;
	font-weight: normal;
	background-color: #172cc6;
	color: white;
	font-size: 1.6em;
	line-height: 1.5;
	padding: 1.6rem;
}

/* STRUCTURE */

div.content {
	width: 500px;
	max-width: 90%;
	min-height: 95vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.column1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4rem;
}

div.column2 {
	display: block;
	text-align: justify;
}

div.column3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}

div.column4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10rem;
}

/* TYPE */

h1 {
	font-size: 3rem;
}

h2 {
	line-height: 1;
}

footer ul li {
	display: inline;
	margin-left: 1.6rem;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
}

main a {
	font-weight: 600;
}

footer a {
	text-decoration: none;
	font-size: 1.4rem;
	opacity: 60%;
}

footer a:hover {
	opacity: 100%;
}