@import 'preset.css';
@import 'setup.css';
@import 'color-settings.css';
@import 'structure.css';
@import 'typography.css';

body {
  background-color: #050505;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}