
@import "reset.css";

/* setup */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

html {
	font-size: 62.5%;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
}

body {
	background-color: #35497b;
	font-size: 1.8rem;
	line-height: 1.5;
}

/* structure */

/* base 480px */

.column {
	padding: 0 5%;
	max-width: 1280px;
	margin: auto;
}

picture {
	max-width: 100px;
}

header {
	background-color: #c3d2fe;
	padding: 1rem 0 1rem 0;
}

header h1 {
	margin-left: 3rem;
}

.logo {
	max-width: 50px;
}

.diptych {
	background-color: #6e95fc;
	padding: 6rem 0 6rem 0;
}

.diptych picture {
	min-width: 250px;
	max-width: 400px;
}

.info {
	margin: .8rem 0 0 0;
	max-width: 30em;
}

.grid {
	background-color: #d4dffe;
	padding: 6rem 0 6rem 0;
}

.grid picture + .info {
	margin: 0 0 2.4rem 0;
}

.grid p {
	margin-bottom: .4rem;
}

footer {
	background-color: #35497b;
	color: #fff;
	padding: 3rem 0 6rem 0;
}

/* type */

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.4rem;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* flex */

header .flex {
	display: flex;
	align-items: center;
}

/* tablet */

@media (min-width: 481px) {
	picture {
		max-width: 120px;
	}

	.flex {
		display: flex;
		align-items: center;
	}

	.diptych picture {
		margin-left: 2.4rem;
		min-width: 500px;
		max-width: 500px;
	}

	.diptych .info {
		margin-left: 2.4rem;
	}

	.grid .space { 
		margin: 3.2rem 0 3.2rem 0;
	}

	.grid picture + .info {
		margin: 0 0 2.4rem 2.4rem;
	}

	footer p {
		margin-left: 4.8rem;
	}
}

/* diptych fix */

@media (max-width: 960px) {
	.diptych .flex {
		display: block;
	}
}

/* desktop */

@media (min-width: 961px) {
	.flex-desktop {
		display: flex;
		text-align: -webkit-center;
	}

	.diptych picture {
		margin-left: 3.2rem;
	}

	.grid .flex {
		display: block;
	}

	.grid .space { 
		margin: 0 0 0 0;
	}

	.grid picture + .info {
		margin: 1.6rem 2.4rem 0 2.4rem;
	}

	a {
		text-decoration: none;
		background-color: #000;
		color: #fff;
		padding: 4px 20px;
		border-radius: 25px;
	}

	a:hover {
		background-color: #fff;
		color: #000;
		transition: all .2s ease-in-out;
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .2);
	}

	.grid p {
		margin-bottom: .8rem;
	}
}
