@import 'meyer.css';

html {
	background-color: #faf1e2;
}

.inner-column {
	max-width: 700px;
	margin: auto;
	padding: 30px 14px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	font-family: sans-serif;
	font-size: 48px;
}

h2 {
	font-family: sans-serif;
	font-size: 30px;
}

p {
	font-size: 16px;
	line-height: 1.4;
	font-family: sans-serif;
}

p + p {
	margin-top: 14px;
}

h1 + p {
	margin-top: 14px;
}

h2 + p {
	margin-top: 14px;
}

/*SITE Sections*/

.site-header {
	background-color: lightblue;
	position: sticky;
	top: 0;
	box-shadow: 0 2px 4px 0px black;
}

.site-header .inner-column {
	padding: 14px;
}

.page-content {
	background-image: url(https://images.unsplash.com/photo-1639059783142-5d0dafa7091a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
	background-size: cover;
	background-position: center 25%;
	flex-grow: 1; /* 1 = true */
}

.page-header {
	background-color: transparent;
}

.about {
	background-color: lightblue;
}

.contact {
	background-color: transparent;
	color: white;
}

.site-footer {
	background-color: #333;
	color: white;
	min-height: 40px;
}

@media (min-width: 700px) {
	.contact {
		background-color: transparent;
	}
}





