/* setup */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	max-width: 200px;
	height: auto;
}

/* site wide */

html {
	font-size: 62.5%;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	padding: 0 10%;
}

h1 {
	font-size: 3rem;
}

a:hover {
	text-decoration: underline;
	text-underline-position: under;
}

a.active {
	text-decoration: underline;
	text-underline-position: under;
}

.grid {
	display: inline-grid;
}

.tile {
	border-bottom: 1px solid black;
}

form {
	padding: 3rem 0;
}

.field {
	display: block;
}

.field :is(label, input) {
	display: block;
}

.field + .field {
	margin-top: 2rem;
}




