.free-quotes {
	background-color: #f7f9ff;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 60px 120px;
}

.free-quotes h1 {
	padding: 24px 0 24px 0;
	max-width: 900px;
	margin: auto;
}

.free-quotes img {
	max-width: 1em;
}

.free-quotes button {
	padding: 12px 48px;
	margin: 2em 1em;
	display: flex;
	align-items: center;
}

.free-quotes button.blue {
	background-color: var(--blue);
	color: var(--white);
	border: 1px solid var(--blue);
	align-self: center;
}
.free-quotes img {
	max-width: .5em;
	margin-left: 20px;
}