
/* setup */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

html {
	font-size: 62.5%;
	--ink: #040404;
	--white: #fbfbfb;
	--paper: #dcdcdc;
	--card: #fbfbfb;
	--pink: #ff00ae;
	--highlight: #222222;
}

/* structure */

body {
	background-color: var(--white);
	color: var(--ink);
	padding: 0 0 10rem 0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.structure {
	font-size: 1.8rem;
	line-height: 1.5;
	padding: 0 5%;
	max-width: 1440px;
	margin: auto;
}

.opener {
	background-color: var(--highlight);
	color: var(--white);
	padding: 8rem 0 2rem 0;
}

.logo {
	max-width: 80px;
}

/* typography */

h2 {
	font-size: 3.2rem;
	font-weight: 700;
	padding-bottom: 1rem;
}

h3 {
	font-size: 2.4rem;
	font-weight: 700;
	padding-bottom: 1rem;
}

.opener p {
	max-width: 24em;
}

.card p {
	max-width: 24em;
}

.teaser {
	color: var(--pink);
	font-weight: 700;
}

/* grid */

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding-top: 4rem;
}

.card {
	display: flex;
	flex-direction: column;
}

.card + .card {
	margin-top: 2rem;
}

.space {
	margin-bottom: 2rem;
}

/* media query */

@media (min-width: 641px) {
	body {
		background-color: var(--paper);
		padding: 0 0 0 0
	}

	.opener {
		padding: 8rem 0 14rem 0;
	}

	.card-grid {
		transform: translate(0, -126px);
	}

	.card {
		background-color: var(--card);
	}

	.border {
		padding: 20px;
	}

	.space {
		margin-bottom: 0;
	}

	.line {
		padding-bottom: 0;
	}

	.structure {
		padding: 0 4%;
	}
}

/* max */

@media (max-width: 1025px) {
	.teaser {
		display: none;
	}
}

/* min */

@media (min-width: 1025px) {
	/* flex */

	.flex-grid {
		display: flex;
	}

	.flex-box {
		display: block;
	}

	.opener {
		padding: 8rem 0 21rem 0;
	}

	.structure {
		padding: 0 3%;
	}

	.card + .card {
		margin-top: 0;
		margin-left: 2.4rem;
	}

	.border {
		padding: 30px;
	}
}
