
html {
	--white: #f8f1e3;
  --yellow: #faf5a3;
  --pink: #eb9a9a;
  --black: #101111;
  --blue: #a5c7e9;
}

* {
	box-sizing: border-box;
}

body {
	padding: 50px;
	max-width: 1000px;
	margin: auto;
}

.white {
  background-color: var(--white);
}
.yellow {
  background-color: var(--yellow);
}
.pink {
  background-color: var(--pink);
}
.black {
  background-color: var(--black);
}
.blue {
  background-color: var(--blue);
}

div {
	border: 5px solid var(--black);
	padding: 50px;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-flow: dense;
}

li:nth-child(4) {
	grid-row: span 2;
}
li:nth-child(5) {
	grid-row: span 7;
}
li:nth-child(8) {
	grid-column: span 4;
 	grid-row: span 4;
}
li:nth-child(11) {
	grid-column: span 2;
 	grid-row: span 2;
}
li:nth-child(16) {
	grid-column: span 2;
}



