/* SETUP */

@import "reset.css";

html {
	box-sizing: border-box;

	font-size: 62.5%;

	--light-background-color: #f8f8f8;
	--light-color: #000;
	--light-nav: #fff;
	--light-border: #dedee1;

	--dark-background-color: #101111;
	--dark-color: #fff;
	--dark-nav: #292a31;
	--dark-border: #272724;

	--light: 300;
	--medium: 500;
	--bold: 700;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TYPOGRAPHY */

/* color */

body {
	background-color: var(--dark-background-color);
	color: var(--dark-color);
}

.site-header {
	background-color: var(--dark-nav);
}

.separator {
	background-color: var(--dark-border);
}

/* font-size */

body {
	font-size: 1.8rem;
}

.subhead {
	font-size: 2.4rem;
}

.head {
	font-size: 3rem;
}

/* margin, padding and gap*/

body {
	padding-bottom: 10rem;
}

.opener {
	padding-top: 5rem;
}

.head-spacing {
	margin-bottom: 3.2rem;
}

.card-spacing {
	margin-bottom: 3.2rem;
}

.p-spacing {
	margin-bottom: 1.6rem;
}

.card-p-spacing {
	margin-top: 1rem;
}

.site-header {
	padding: 2rem 0 2rem 0;
}

.site-nav ul {
	gap: 4.8rem;
}

@media (max-width: 801px) {
	.site-nav ul {
		gap: 3.2rem;
	}
}

@media (max-width: 480px) {
	.site-nav ul {
		gap: 1.6rem;
	}
}

.content-wrap {
	column-gap: 5rem;
}

.card-grid {
	column-gap: 5rem;
}

/* text-decoration */

a {
	text-decoration: none;
	color: inherit;
}

.info a {
	border-bottom: 1px solid;
}

.separator {
	display: block;
	height: 1px;
	margin-top: 3.2rem;
}

/* CONTAINERS AND ALIGNMENT */

/* STRUCTURE */

.structure {
	max-width: 1400px;
	margin: auto;
	padding: 0 3%;
	line-height: 1.5;
}

/* SITE HEADER and NAV */

.site-header {
	position: sticky;
	top: 0;
	z-index: 10;
}

.site-nav {
	display: flex;
	align-items: center;
}

.site-nav ul {
	display: flex;
}

.site-nav .name {
	margin-right: auto;
}
.site-nav .pages {
	margin-left: auto;
}

/* GRID WRAPPER */

.content-wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/* CARD GRID */

.card-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 801px) {
	.content-wrap {
		display: block;
	}
	.card-grid {
		display: block;
	}
}

/* GRID PLACEMENT */
/* C == column // Ctwo == grid-column 2 */
/* R == row // Rone == grid-row 1*/

.align-content-Cone-Rone {
	grid-column: 1 / 3;
	grid-row: 1;
}

.align-content-Ctwo-Rone {
	grid-column: 2 / 2;
	grid-row: 1;
}

.align-content-Cone-Rtwo {
	grid-column: 1 / 2;
	grid-row: 2;
}

.align-content-Ctwo-Rtwo {
	grid-column: 2 / 2;
	grid-row: 2;
}

.align-content-Cthree-Rtwo {
	grid-column: 3 / 1;
	grid-row: 2;
}

.align-content-Ctwo-Rthree {
	grid-column: 3 / 2;
	grid-row: 2;
}

