* {
	box-sizing: border-box;
}

body * {
	padding: 8px;
	font-family: sans-serif;
}

header {
	background-color: #acd9be;
}

.column {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.masthead {
	display: flex;
	flex-direction: column;
}

@media (min-width: 700px) {
	.masthead {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 800px;
}

.one {
	background-color: #acddec;
	display: flex;
	flex-direction: column;
}

@media (min-width: 700px) {
	.one {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.two {
	background-color: #dc9dc8;
	display: flex;
	flex-direction: column;
}

main.two > .column {
	max-width: 600px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: inherit;
	list-style-type: none;
}

h4 > a {
	background-color: black;
	color: white;
}

.three {
	background-color: #fccb98;
	padding: 60px 0px 60px;
}

section.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

section.grid a {
	background-color: black;
	color: white;
}

.four {
	background-color: #ff9299;
}

main.four > .column {
	max-width: 600px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: #faefe3;
}

ul {
	display: flex;
	flex-direction: column;
}

.map {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 10px 0px 80px;
}

@media (min-width: 700px) {
	.map {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 10px 0px 80px;
	}
}