.video {
	padding: 80px 120px;
	text-align: center;
}

.video h1 {
	padding: .5em 0 .5em 0;
}

.video picture {
	display: flex;
	align-items: center;
	max-width: 926px;
	margin: 5rem auto auto auto;
}