.img-descr {
	display: flex;
	flex-direction: row;
	gap: 70px;
}

.img-descr ul li {
	display: flex;
	align-items: flex-start;
	padding-top: 40px;
}

.img-descr p {
	padding-top: 20px;
}

.image-header h1 {
	font-size: 4rem;
}

.image-header picture {
	padding-top: 40px;
}

.img-descr li picture {
	max-width: 60px;
}

.img-descr .text {
	margin-left: 20px;
}