
/* setup */

html {
	font-size: 62.5%;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
	--header: #325482;
	--divider: #ebf2f3;
	--black: #011627;
	--button-hover: #55c3d5;
	--white: #fff;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	min-width: 440px;
	max-width: 440px;
	height: auto;
}

/* site wide */

@font-face {
	font-family: "Inter";
	src: url(Inter-Regular.ttf) format("ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url(Montserrat-Regular.ttf) format("ttf");
}

body {
	font-family: "Inter";
	background-color: var(--divider);
	color: var(--black);
}

.content {
	font-size: 1.8rem;
	line-height: 1.5;
	padding: 0 10%;
	max-width: 1440px;
	margin: auto;
}

.about {
	padding: 8rem 0 8rem 0;
	background-color: var(--header);
	color: var(--white);
}

.challenge {
	padding: 8rem 0 8rem 0;
}

.prototype {
	padding: 8rem 0 8rem 0;
	background-color: var(--white);
}

.solution {
	padding: 8rem 0 8rem 0;
}

.style {
	padding: 8rem 0 8rem 0;
	background-color: var(--white);
}

.results {
	margin: 8rem 0 8rem 0;
}

.center {
	text-align: -webkit-center;
}

.results-images {
	display: flex;
	justify-content: center;
}

@media (min-width: 1120px) {
	.results-images {
		padding: 3.2rem 0 0 0;
	}
}

@media (max-width: 550px) {
	.formal-images {
		display: flex;
		justify-content: center;
	}
}

.link {
	padding: 0 0 8rem 0;
	text-align: center;
}

.button {
	font-weight: 500;
	background-color: var(--black);
	color: var(--white);
	padding: 16px 32px;
	border-radius: 25px;
}

.button:hover {
	background-color: var(--button-hover);
	color: var(--black);
	transition: all .2s ease-in-out;
}

/* typography */

h1 {
	font-family: "Montserrat";
	font-size: 6.4rem;
	font-weight: 500;
	margin-bottom: 1.6rem;
}

h2 {
	font-family: "Montserrat";
	font-size: 4.8rem;
	font-weight: 500;
}

p {
	max-width: 30em;
	margin: 1.6rem 0 1.6rem 0;
}

picture {
	padding: 3.2rem 0 0 0;
}

/* screen size */

@media (min-width: 1120px) {
	picture {
		padding: 0 0 0 0;
	}

	.formal-images {
		padding: 0 0 0 1.6rem;
	}

	.flex {
		display: flex;
	}

	.left {
	width: 60%;
	}

	.right {
	width: 40%;
	}
}

/* mobile */

@media (max-width: 480px) {
	h1 {
		font-size: 4.8rem;
	}

	h2 {
		font-size: 3.2rem
	}

	p {
		font-size: 1.6rem;
	}

	img {
		min-width: 360px;
		max-width: 360px;
	}
}
