/*@font-face {
  font-family: 'FAMILY_NAME';
  font-style: NORMAL_OR_ITALIC;
  font-weight: NUMERIC_WEIGHT_VALUE;
  src: url(FONT_FILE_NAME.woff2) format('woff2');
}*/

/*@font-face {
	font-family: "manrope";
	src: url("fonts/Manrope/Manrope-Regular.ttf") format("ttf");
}*/

/* setup */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	max-width: 100px;
	height: auto;
}

/* site wide */