/*.exercises-grid {
	border: 2px solid green;
}*/

.exercises-grid {
	display: grid;
	column-gap: 3em;
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 801px) {
	.exercises-grid {
		display: block;
	}
}