form :is(label, textarea, button) {
	display: block;
}

input[type="text"], textarea {
	display: block;
	width: 100%;
	font: inherit;
	padding: 2rem;
}

textarea {
	resize: vertical;
}

button {
	font-family: Inter, sans-serif;
}

label {
	border-bottom: 1px solid var(--light-border);
}

input, textarea, button { 
	outline: none;
  border: 0;
  background-color: inherit;
}

.contact-form {
	display: grid;
	gap: 20px;
}

button {
	justify-self: end;
}