@import 'preset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
/*@import 'typography.css';*/
/*@import 'modules.css';*/

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--light-background-color);
	color: var(--light-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-header {
	background-color: var(--light-header);
}

.separator {
	background-color: var(--light-border);
}