/*.contact-grid {
	border: 2px solid chartreuse;
}*/

.contact-grid {
	display: grid;
	column-gap: 3em;
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 801px) {
	.contact-grid {
		display: block;
	}
}