/* setup */

html {
	font-size: 62.5%;
	--black: #050505;
	--card-border: #a1a1a6;
	--light-grey: #151516;
	--white: #fff;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background-color: var(--black);
	color: var(--white);
	font-size: 1.6rem;
}

/* structure */

.structure {
	border: 1px solid green;
	max-width: 1440px;
	margin: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

@media (max-width: 600px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.site-nav {
	display: flex;
}

/* themes */

.card-theme {
	padding: ;
	border: 1px solid var(--card-border);
	background-color: var(--light-grey);
	border-radius: 10px;
	padding: 10px;
	height: 100%;
}

/* components */

/* underline animation */

a {
	display: inline-block;
	position: relative;
}

a:after {
	content: "";
	background-color: ;
	display: block;
	position: relative;
	bottom: ;
	left: 0;
	width: 100%;
	height: 1px;
	transform-origin: bottom left;
	will-change: transform;
	transition: transform 0.2s ease-out;
}

a:hover:after {
	transform: scaleX(0);
	transform-origin: bottom right;
}
