
/* COMPONENTS */
.button {
  font-weight: 600;
  letter-spacing: .05em;
  /* should a link look like a "button" though? */
  display: flex;
  flex-direction: row;
  /*border:  1px solid black;*/
  padding:  6px 12px;
  text-decoration: none;
  background-color: var(--color-light);
  color: var(--white);
}

.button:hover {
  background-color: var(--color);
}

.arrow {
  /* maybe icons in here? Any reusable smaller things */  
}
