/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #fefefe;
	--red: #ed2c35;
	--color: #212121;
	--color-light: hsla(0, 0%, 13%, .75);
}
/* you can make more! */



/* USAGE */

.thingy {
	color:  var(--highlight); /* used as variable */
}
