
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700&family=Merriweather+Sans:wght@300&display=swap');

.loud-voice	{
	font-family: 'Catamaran', sans-serif;
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700;
	}
}

.body-helper a {
	font-family: 'Catamaran', sans-serif;
}

.intro-voice	{
	font-family: 'Catamaran', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.attention-voice	{
	font-family: 'Catamaran', sans-serif;
	font-size: 30px;
}

.info-voice {
	font-family: 'Catamaran', sans-serif;
	font-size: 1rem;
	line-height: 1.4;
	margin-top: .25rem;
}

.something-for-site-map-headings {
	/* */
}

.calm-voice {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now $todo */
p + p {
	margin-top: 14px;
}

h1 + p {
	margin-top: 20px;
}

h2 + p {
	margin-top: 20px;
}
