/* setup */

html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

a {
	display: block;
	color: inherit;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	max-width: 500px;
	height: auto;
}

/* style */

body {
	margin: 4rem 1rem 2rem 1rem;
	font-family: sans-serif;
}

/* custom elements */
field {
	display: block;
}

field :is(label, input) {
	display: block;
}

field + field {
	margin-top: 20px;
}

header {
	padding: 0 10%;
}

.content {
	padding: 0 10%;
	line-height: 1.5;
	font-size: 1.8rem;
	border: 1px solid darkgray;
}

nav {
	display: flex;
}

nav a {
	font-size: 1.6rem;
	margin-right: 10px;
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.item + .item {
	margin-top: 20px;
}