/* setup */

html {
	font-size: 62.5%;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
	--purple: #3c3b6e;
}

* {
	box-sizing: border-box;
}

a {
	display: block;
	color: inherit;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	max-width: 500px;
	height: auto;
}

/* style */

body {
	margin: 4rem 1rem 4rem 1rem;
}

/* custom elements */
field {
	display: block;
}

field :is(label, input) {
	display: block;
}

field + field {
	margin-top: 20px;
}

header {
	padding: 0 10%;
}

.content {
	padding: 0 10%;
	line-height: 1.5;
	font-size: 1.8rem;
}

nav {
	display: flex;
	color: var(--purple);
	font-weight: 500;
}

.site-menu {
	margin-bottom: 40px;
}

nav a.text {
	font-size: 1.8rem;
	margin-right: 1em;
	text-decoration: none;
}
nav a:hover.text {
	text-decoration: underline;
	text-underline-position: under;
}

h1, h2, h3 {
	color: var(--purple);
}

h1 {
	font-size: 3.6rem;
	font-weight: 700;
	margin-bottom: 20px;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.4rem;
}

.item + .item {
	margin-top: 20px;
}

/* home styles */
	
.home-content {
	font-size: 1.8rem;
	max-width: 700px;
}

.section-two {
	margin-top: 20px;
}

.line {
	margin: 20px 25% 20px 25%;
	border-top: 1px solid #000;
}

.notice {
	font-weight: 500;
}

.logo img {
	width: 200px;
}

.logo a {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.home-info p {
	max-width: 700px;
}