html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 100%;
}

body {
	min-height: 100vh;
	font-size: 1.6rem;
}

main {
	flex-grow: 1;
}

.site-header {
	position: sticky;
	top: 0;
	z-index: 10;
}