/* SETUP */

@import "reset.css";
@import "components.css";

html {
	box-sizing: border-box;

	font-size: 62.5%;

	--ink-light: #f8f8f8;
	--ink-dark: #222;
	--ink-header: rgba(255, 255, 255, 0.99);

	--ink-card: #dedee1;

	--light: 300;
	--medium: 500;
	--bold: 700;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: 'Inter', sans-serif;
	background-color: var(--ink-light);
	color: var(--ink-dark);
	padding-bottom: 10rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
}

/* SITE HEADER and NAV */

.site-header {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: var(--ink-header);
	padding: 2rem 0 2rem 0;
}

.site-nav {
	display: flex;
	align-items: center;
}

.site-nav .name {
	margin-right: auto;
	font-size: 2rem;
}

.site-nav .pages {
	margin-left: auto;
	font-size: 1.6rem;
}

.site-nav ul {
	display: flex;
	gap: 4.8rem;
}

/* TYPE */

.light {
	font-weight: var(--light);
}

.medium {
	font-weight: var(--medium);
}

.bold {
	font-weight: var(--bold);
}

.info {
	font-size: 1.8rem;
}

.info p + p {
	margin-top: 1.6rem;
}

.info a {
	border-bottom: 1px solid;
}

.graphic-diptych {
	font-size: 11vw;
	line-height: 1;
	letter-spacing: -0.025em;
}

.title {
	font-size: 4rem;
}

.title, .info, .graphic-diptych {
	padding-top: 5rem;
}

.card-title {
	font-size: 2.2rem;
	margin-bottom: 1rem;
}
.card-info {
	font-size: 1.6rem;
	margin-bottom: -.6rem;
}

/* CONTAINERS AND ALIGNMENT */

/* STRUCTURE */

.structure {
	max-width: 1400px;
	margin: auto;
	padding: 0 3%;
	line-height: 1.5;
}

/* GRID WRAPPER */

.content-wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.6rem;
}

/* GRID PLACEMENT */
/* C == column // Ctwo == grid-column 2 */
/* R == row // Rone == grid-row 1*/

.align-content-Cone-Rone {
	grid-column: 1 / 3;
	grid-row: 1;
}

.align-content-Ctwo-Rone {
	grid-column: 2 / 2;
	grid-row: 1;
}

.align-content-Cone-Rtwo {
	grid-column: 1 / 2;
	grid-row: 2;
}

.align-content-Ctwo-Rtwo {
	grid-column: 2 / 2;
	grid-row: 2;
}

.align-content-Cthree-Rtwo {
	grid-column: 3 / 1;
	grid-row: 2;
}

/* CARD GRID */

.card-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10rem;
}

/*@media (max-width: 600px) {
	.content-wrap {
		grid-template-columns: repeat(1, 1fr);
	}
}*/
