/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #fefefe;
	--color: #157fa6;
	--color-dark: #002436;
	--highlight: #539fe3;
}
/* you can make more! */



/* USAGE */

.thingy {
	color:  var(--highlight); /* used as variable */
}
