
mast-head {
  display: block;
}

mast-head nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mast-head .logo {
  max-width:  80px;
  position: relative;
  bottom: 24px;
}

mast-head .logo:hover:after {
  transform: scaleX(0);
}

mast-head a {
  font-size: 1rem;
  padding: 10px 10px 10px 10px;;
  display: inline-block;
  position: relative;
}

mast-head a:after {
  content: "";
  position: relative;
  width: 100%;
  background-color: var(--red);
  display: block;
  bottom: -4px;
  left: 0;
  height: 0.1rem;
  transform: scaleX(0);
  transform-origin: 50% 50%;
  will-change: transform;
  transition: transform 0.25s ease-out;
}

mast-head a:hover:after {
  transform: scaleX(1);
  transform-origin: 50% 50%;
}

@media (min-width: 600px) {
  mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  mast-head .logo {
    margin-right: 10px;
  }
}


