/* setup */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	max-width: 100px;
	height: auto;
}

/* site wide */

html {
	font-size: 62.5%;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
	--primary: #0135e9;
	--white: #fff;
}

body {
	margin: 3rem 1rem 3rem 1rem;
	background-color: var(--primary);
	color: var(--white);
}

.content {
	font-size: 1.8rem;
	line-height: 1.5;
	padding: 0 10%;
	max-width: 1440px;
/*	min-height: 100vh;*/
	margin: auto;
	overflow: hidden;
}

main {
/*	min-height: 100vh;*/
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.site-nav ul {
	display: flex;
	justify-content: space-around;
}

.name {
	margin-top: 13em;
	display: flex;
	justify-content: center;
	text-align: center;
}

.mini-nav ul {
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

.mini-nav ul li:not(:nth-child(1)) {
	margin-left: 1.8rem;
}

.tools {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 6em;
	margin-left: 8em;
}

/* type */

h1 {
	font-size: 9.6rem;
	line-height: 1;
}

h2 {
	font-size: 2.4rem;
}

.site-nav a {
	font-size: 3.2rem;
}

.mini-nav a {
	font-size: 1.8rem;
}


