footer {
	background-color: var(--blue);
	color: var(--white);
}

footer h3 {
	font-weight: 600;
}

.divider {
	padding: 1px;
	background-color: var(--white);
	opacity: 6%;
	margin: 2.5em 0 2.5em 0;
}

.subscribe {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 30px 42px;
	max-width: 400px;
	transform: translateY(-30px);
}

.form-wrap {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.subscribe form {
	display: flex;
}
.subscribe form img {
	max-width: 3em;
}

.subscribe form input {
	color: var(--light-gray);
	padding: 10px;
	border: 1px solid var(--blue);
	border-radius: 5px 0px 0px 5px;
	width: 100%;
}
.subscribe form img {
	background-color: var(--blue);
	border-radius: 0px 5px 5px 0px;
}

.subscribe form input:focus {
	outline: none;
}

.subscribe {
	background-color: var(--form);
}

.subscribe p {
	font-size: 1.4rem;
	color: var(--white);
}

.site-info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.product, .info, .company {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.site-info p, .site-info a {
	opacity: .7;
}

.socials img {
	max-width: 40px;
}

.site-policy {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.policy {
	display: flex;
	gap: 2em;
}
.socials {
	display: flex;
	gap: 1em;
}