html {
	--light-background-color: #f8f8f8;
	--light-color: #000;
	--light-header: #fff;
	--light-border: #dedee1;

	--dark-background-color: #101111;
	--dark-color: #fff;
	--dark-header: #292a31;
	--dark-border: #272724;
}