body {
	padding-top: 15vh;
	padding-bottom: 15vh;
}

.column {
	max-width: 1024px;
	width: 90%;
	margin: auto;
}

.info p {
	margin-top: 10px;
}

.contact {
	display: flex;
	margin-top: 20px;
}
.contact div {
	margin-right: 2em;
}
.contact a {
	border-bottom: 1px solid #000;
	line-height: 1.2;
}

@media (max-width: 768px) {
	.contact {
		flex-direction: column;
	}
	.contact div:nth-of-type(2) {
		margin-top: 10px;
	}
}

main {
	margin-top: 200px;
}

.project {
	margin-top: 50px;
}

.project-description {
	margin: 10px 0;
}

picture {
	margin-top: 30px;
}

img {
	height: 100vh;
	background-color: #ebebeb;
	border-radius: 15px;
}
@media (max-width: 768px) {
	img {
		height: 60vh;
	}
}
@media (max-width: 480px) {
	img {
		height: 50vh;
	}
}

footer {
	margin-top: 200px;
	font-size: 1.6rem;
	text-align: center;
}