* {
		box-sizing: border-box;
	}

	body {
		background-color: whitesmoke;
		font-family: sans-serif;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.monster-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 16px;
	}

	.monster.adopted {
		opacity: .6;
	}

	monster-card {
		display: block;
		padding: 8px;
		background-color: white;
		border-radius: 16px;
		height: 100%;
	}

	monster-card .status {
		color: darkblue;
		background-color: mediumspringgreen;
		border-radius: 4px;
	}


	h1 {
		text-align: center;
		text-decoration: underline;
		color: darkgreen;
	}

	p {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		color: mediumblue;
		font-size: 18px;
	}

	p.intro {
		color: black;
		word-spacing: 1.2px;
		margin-bottom: 30px;
		font-size: 20px;
	}

	h2 {
		color: darkblue;
		background-color: lightskyblue;
		border-radius: 4px;
	}

	.portrait {
		display: block;
		width: 150px;
		height: 150px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}


